@use '../helpers' as *;


.icon {

    display: inline-flex;
    align-items: center;
    column-gap: rem(10);
    position: relative;

    &::after {
        --size: #{rem(24)};

        @include square(var(--size));

        content: "";
        flex-shrink: 0;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;

        @include laptop {
            --size: #{rem(20)};
        }
    }

    &--yellow-arrow {
       &::after { 
        background-image: url(../../icons/YellowArrow.svg);
       }
    }

    &--yellow-eye {
           &::after {
              background-image: url(../../icons/resources/eye.svg);
           }
    }

    &--gray-arrow-down {
           &::after {
              background-image: url(../../icons/gray-arrow-down.svg);
           }
    }

    &--gray-arrow-up {
        &::after {
            background-image: url(../../icons/gray-arrow-up.svg);
        }
    }
}