@use '../helpers' as *;


.metrics {

    &__list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);

        &--4-cols {
            grid-template-columns: repeat(4 , 1fr);
            text-align: center;

            @include tablet-above {

            .metrics__item:nth-child(4n) {
                padding-right: 0;
            }
            }

            @include tablet {
            grid-template-columns: repeat(2 , 1fr);

            padding-inline: 0;

            .metrics__item {
            border-bottom: var(--border-bottom);
                &:nth-child(odd) {
                    padding-left: var(--container-padding-x);
                }
                &:nth-child(even) {
                    padding-right:  var(--container-padding-x);
                    border-right: none;
                }

            }

        }
    }
}

    &__item {
        display: flex;
        flex-direction: column-reverse;
        row-gap: rem(10);
        padding: rem(50);

        @include laptop {
            padding: rem(30) rem(40);
            row-gap: rem(2);
        }

        @include tablet {
            row-gap: 0;
            padding: rem(20);
        }

        &:first-child {
            padding-left: 0;
        }

        &:not(:last-child) {
            border-right: var(--border-bottom);
        }
    }

    &__value {
        font-weight: 600;
    }

    &__sign {
        color: var(--color-accent);
    }
}